@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  /* background: #1CD8D2; /* fallback for old browsers 
  background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2); /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 
li{
  list-style: none;
   padding: 10px;
  }
  
h1{ 
  text-align: center;  
  text-decoration: #25b09b;
}

.spinner-4 {
    width:60px;
    height:60px;
    border-radius:50%;
    margin-top: 1.5rem;
    padding:1px;
    background:conic-gradient(#0000 10%,#25b09b) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 8px));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation:s4 1s infinite steps(10);
}
 
@keyframes s4 {
    to {
       transform: rotate(1turn)
    }
}
